.test{
    margin-left: 58.5%;
    margin-top: 10px;
    max-width: 600px;
    height: 198px;
    display: flex;
    border-style: outset;
    border-width: 2px;
    box-shadow: -1px -1px 1px #ABADB3;
    border-top-right-radius: 10px;
}

.btns{
    position: relative;
    top: 10px;
    left: 29px;
}

.test1{
    display: grid;
    flex-direction: row;
}

.filtro1{
    top: 48px;
    margin-left: 30px;
    margin-top: 10px;
    width: 600px;
    height: 198px;
    position: absolute;
    border-style: outset;
    border-width: 2px;
    box-shadow: -1px -1px 1px #ABADB3;
}

.regiao{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: gray;
    border-width: 2px;
    width: 95%;
    border-style: solid;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    height: 342px;
    padding-bottom: 5px;
}

.regiaoBtn{
    font-size: 15px;
    border-top-left-radius: 10px;
    width: 12%;
    height: 30px;
    border-width: 1px;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    text-decoration: none;
    cursor: pointer;
}

.filial{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    width: 95%;
    height: 342px;
    margin-left: 30px;
}

.filialBtn{
    font-size: 15px;
    width: 10%;
    height: 30px;
    border-width: 1px;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    text-decoration: none;
    cursor: pointer;
}

.vendedor{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    width: 95%;
    height: 342px;
    margin-left: 30px;
} 

.vendedorBtn{
    cursor: pointer;
    border-style: double;
    border-color: gray;
    height: 30px;
    width: 12%;
    border-width: 1px;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    font-size: 15px;
}

.cliente{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    width: 95%;
    height: 342px;
    margin-left: 30px;
}

.clienteBtn{
    width: 9%;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-style: double;
    border-color: gray;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    font-size: 15px;    
}

.tipoDePagamento{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    width: 95%;
    height: 342px;
    margin-left: 30px;
}

.tipoDePagamentoBtn{
    width: 23%;
    height: 30px;
    border-width: 1px;
    cursor: pointer;
    border-style: double;
    border-color: gray;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
    font-size: 15px;
}

.produto{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    width: 95%;
    height: 342px;
    margin-left: 30px;
}

.produtoBtn{    
    font-size: 15px;
    width: 10%;
    height: 30px;
    cursor: pointer;
    border-width: 1px;
    border-color: gray;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;

}

.grupo{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    width: 95%;
    height: 342px;
    margin-left: 30px;
}

.grupoBtn{
    width: 9%;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    border-color: gray;
    border-width: 1px;
    border-style: double;
    border-left: transparent;
    border-top: transparent;
    border-bottom: none;
}

.fornecedor{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    width: 95%;
    height: 342px;
    margin-left: 30px;
}

.fornecedorBtn{
    border-top-right-radius: 12px;
    width: 15%;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    border-color: gray;
    border: none;
}

.modal-content{
    border-style: solid;
    width: 500px;
    height: 150px;

}

.dataIni{
    border-color: #ABADB3;
    border-style: solid;
    width: 120px;
    height: 52px;
    margin-top: 5px;
    margin-left: 8px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    line-height: 0px;
    border-radius: 5px;
    border-width: 2px;
}

.dataFin{
    width: 120px;
    border-color: #ABADB3;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    height: 52px;
    margin-top: 5px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    line-height: 0px;
}

.pesquisar{
    text-decoration: none;
    border-style: solid;
    cursor: pointer;
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
    background-color: white;
    margin-top: 150px;
    margin-left: 20px;
    position: absolute;

}

.checkboxs{
    justify-content: space-between;
    margin-left: 5px;
    display: flex;
    position: absolute;
    margin-top: 110px;
    font-size: 13px;
}

.filtros{
    width: 45%;
    margin-left: 30px;
    margin-top: 2px;
    border-color: gray;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
}

.custom-select{
    margin-top: 2px;
    cursor: pointer;
    border-color: gray;
    border-top-width: 5px;
    color: #333333;
    font-size: 14px;
    max-height: 30px;
    width: 200px;
    border-radius: 5px;
    height: auto;
    align-items: center;
    border-width: 2.5px;
}

.search-input{
    border-right: none;
    margin-left: 3px;
    margin-top: 2px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 400px;
}

.filter01{
    display: flex;
    flex-direction: row;
}

.icon2{
    display: flex;
    flex-direction: row-reverse;
}

.icon{
    cursor: pointer;
    margin-top: 2px;
    background-color: lightblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: transparent;
    border-top-color: black;
    border-style: solid;
    border-color: gray;
    border-width: 0.1px;
    height: 28.9px;
    width: 30px;
}

.select{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    
}

.relatorio-content{
    height: 50px;
    width: 120px;
    position: absolute;
    left: 1240px;
    top: 208px;
    right: 220px;
}

.relatorioBtn{
    text-decoration: none;
    border-style: solid;
    cursor: pointer;
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
    background-color: white;
    position: absolute;
}

.regiao-f1{
    border-color: gray;
    border-style: solid;
    width: 100px;
    font-size: 13px;
}

.regiao-f2{
    border-color: gray;
    border-style: solid;
    width: 150px;
    font-size: 13px;
}

.regiao-f3{
    border-color: gray;
    border-style: solid;
    width: 95px;
    font-size: 13px;
}

.regiao-f4{
    border-color: gray;
    border-style: solid;
    width: 85px;
    font-size: 13px;
}

.regiao-f5{
    border-color: gray;
    border-style: solid;
    width: 105px;
    font-size: 13px;
}

.regiao-f6{
    border-color: gray;
    border-style: solid;
    width: 85px;
    font-size: 13px;
}

.regiao-f7{
    border-color: gray;
    border-style: solid;
    width: 85px;
    font-size: 13px;
}

.regiao-f8{
    border-color: gray;
    border-style: solid;
    width: 85px;
    font-size: 13px;
}

.regiao-f9{
    border-color: gray;
    border-style: solid;
    width: 85px;
    font-size: 13px;
}

.regiao-f10{
    border-color: gray;
    border-style: solid;
    width: 85px;
    font-size: 13px;
}

.regiao-f11{
    border-color: gray;
    border-style: solid;
    width: 85px;
    font-size: 13px;
}

.regiao-f12{
    border-color: gray;
    border-style: solid;
    width: 85px;
    font-size: 13px;    
}

.filial-f1{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 120px;
}

.filial-f2{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 510px; 
}

.filial-f3{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 150px; 
}

.filial-f4{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 150px; 
}

.filial-f5{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 150px; 
}
.filial-f6{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px; 

}.filial-f7{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px; 

}.filial-f8{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 110px; 

}.filial-f9{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px; 

}.filial-f10{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px; 

}.filial-f11{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px; 

}.filial-f12{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px; 

}.filial-f13{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px; 

}.filial-f14{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px; 
}

.filial-f15{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px; 
}

.filial-f16{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 120px; 
}

.vendedor-f1{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 100px;
}

.vendedor-f2{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 100px;
}

.vendedor-f3{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 350px;
}

.vendedor-f4{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;   
}

.vendedor-f5{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f6{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f7{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f8{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 100px;
}

.vendedor-f9{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f10{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f11{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f12{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f13{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f14{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f15{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 95px;
}

.vendedor-f16{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 120px;
}

.cliente-f1{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 100px;
}

.cliente-f2{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f3{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 400px;
}

.cliente-f4{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f5{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f6{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f7{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f8{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f9{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f10{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f11{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f12{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f13{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.cliente-f14{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 100px;
}

.tpPg-f1{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 90px;
}

.tpPg-f2{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 100px;
}

.tpPg-f3{
    border-style: solid;
    border-color: gray;
    width: 100px;
    font-size: 13px;
}

.tpPg-f4{
    border-style: solid;
    border-color: gray;
    width: 100px;
    font-size: 13px;
}

.tpPg-f5{
    border-color: gray;
    border-style: solid;
    width: 150px;
    font-size: 13px;
}

.tpPg-f6{
    border-color: gray;
    border-style: solid;
    width: 100px;
    font-size: 13px;
}

.tpPg-f7{
    border-color: gray;
    border-style: solid;
    width: 100px;
    font-size: 13px;
}

.tpPg-f8{
    border-color: gray;
    border-style: solid;
    width: 100px;
    font-size: 13px;
}

.tpPg-f9{
    border-color: gray;
    border-style: solid;
    font-size: 13px;
    width: 100px;
}

.tpPg-f10{
    border-color: gray;
    border-style: solid;
    font-size: 13px;
    width: 100px;
}

.tpPg-f11{
    border-color: gray;
    border-style: solid;
    font-size: 13px;
    width: 100px;
}

.tpPg-f12{
    border-color: gray;
    border-style: solid;
    font-size: 13px;
    width: 100px;
}

.tpPg-f13{
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    width: 100px;
}

.tpPg-f14{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.tpPg-f15{
    border-color: gray;
    border-style: solid;
    width: 100px;
    font-size: 13px;
}

.tpPg-f16{
    border-color: gray;
    border-style: solid;
    width: 100px;
    font-size: 13px;
}

.tpPg-f17{
    border-color: gray;
    border-style: solid;
    width: 100px;
    font-size: 13px;
}

.tpPg-f18{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.produto-f1{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.produto-f2{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.produto-f3{
    border-color: gray;
    border-style: solid;
    width: 350px;
    font-size: 13px;
}

.produto-f4{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.produto-f5{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.produto-f6{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.produto-f7{
    border-color: gray;
    border-style: solid;
    width: 130px;
    font-size: 13px;
}

.produto-f8{
    border-color: gray;
    border-style: solid;
    width: 130px;
    font-size: 13px;
}

.produto-f9{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.produto-f10{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.produto-f11{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.produto-f12{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f1{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f2{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f3{
    border-color: gray;
    border-style: solid;
    width: 350px;
    font-size: 13px;
}

.grupo-f4{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f5{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f6{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f7{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f8{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f9{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f10{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f11{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.grupo-f12{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f1{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f2{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f3{
    border-color: gray;
    border-style: solid;
    width: 350px;
    font-size: 13px;
}

.fornecedor-f4{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f5{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f6{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f7{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f8{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f9{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f10{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f11{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.fornecedor-f12{
    border-color: gray;
    border-style: solid;
    width: 120px;
    font-size: 13px;
}

.topFilialBtn{
    font-size: 15px;
    border-top-left-radius: 10px;
    height: 25px;
    border-width: 1px;
    border-style: outset;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    text-decoration: none;
    cursor: pointer;
    width: 50px;
}

.topsBtn{
    font-size: 15px;
    height: 25px;
    border-width: 1px;
    border-style: outset;
    border-bottom: none;
    border-right-color: gray;
    border-color: gray;
    border-top-right-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    width: 45px;
}

.obs{
    position: relative;
    top: 35px;
    right: 562px;
    display: flex;
}

.ep1{
    border-style: solid;
    border-width: 1px;
}

.ep2{
    border-style: solid;
    border-width: 1px;
    margin-left: 1px;
    width: 200px;
}

.ep3{
    border-style: solid;
    border-width: 1px;
    margin-left: 1px;
    width: 100px;
}

.ep4{
    border-style: solid;
    border-width: 1px;
    margin-left: 1px;
    width: 150px;
}

.ep5{
    border-style: solid;
    border-width: 1px;
    margin-left: 1px;
    width: 80px;
}

.clear{
    margin-top: 2.5px;
    margin-left: 1px;
    height: 30px;
}

.frontSpan{
    display: flex;
    justify-content: center;
}

.re1{
    width: 105px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
}

.re2{
    width: 155px;
    border-style: solid;
    border-width: 1px;
}

.re3{
    width: 98px;
    border-style: solid;
    border-width: 1px;
}

.re4{
    width: 90px;
    border-style: solid;
    border-width: 1px;
}

.re5{
    width: 90px;
    border-style: solid;
    border-width: 1px;
}

.re6{
    width: 90px;
    border-style: solid;
    border-width: 1px;
}

.re7{
    width: 90px;
    border-style: solid;
    border-width: 1px;
}

.re8{
    width: 88px;
    border-style: solid;
    border-width: 1px;
}

.re9{
    width: 88px;
    border-style: solid;
    border-width: 1px;
}

.re10{
    width: 90px;
    border-style: solid;
    border-width: 1px;
}

.re11{
    width: 89px;
    border-style: solid;
    border-width: 1px;
}

.re12{
    width: 88px;
    border-style: solid;
    border-width: 1px;
}

.fi1{
    width: 85px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.fi2{
    width: 262px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.fi3{
    width: 98px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.fi4{
    width: 91px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.fi5{
    border-style: solid;
    border-width: 1px;
    width: 108px;
    font-size: 13px;
}

.fi6{
    width: 73px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.fi7{
    border-style: solid;
    border-width: 1px;
    width: 65px;
    font-size: 13px;
}

.fi8{
    border-style: solid;
    border-width: 1px;
    width: 73px;
    font-size: 13px;
}

.fi9{
    border-style: solid;
    border-width: 1px;
    width: 60px;
    font-size: 13px;
}

.fi10{
    border-width: 1px;
    border-style: solid;
    width: 73px;
    font-size: 13px;
}

.fi11{
    width: 73px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.fi12{
    border-style: solid;   
    border-width: 1px;
    width: 67px;
    font-size: 13px;
}

.fi13{
    width: 71px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.fi14{
    width: 76px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

.fi15{
    border-style: solid;
    border-width: 1px;
    width: 75px;
    font-size: 13px;
}

.fi16{
    border-style: solid;
    border-width: 1px;
    width: 93px;
    font-size: 13px;
}

.ve1{
    border-style: solid;
    border-width: 1px;
    width: 76px;
    font-size: 13px;
}

.ve2{
    border-style: solid;
    border-width: 1px;
    width: 88px;
    font-size: 13px;
}

.ve3{
    border-style: solid;
    border-width: 1px;
    width: 235px;
    font-size: 13px;
}

.ve4{
    border-style: solid;
    border-width: 1px;
    width: 78px;
    font-size: 13px;
}

.ve5{
    border-style: solid;
    border-width: 1px;
    width: 72px;
    font-size: 13px;
}

.ve6{
    border-style: solid;
    border-width: 1px;
    width: 73px;
    font-size: 13px;
}

.ve7{
    border-style: solid;
    border-width: 1px;
    width: 73.5px;
    font-size: 13px;
}

.ve8{
    border-style: solid;
    border-width: 1px;
    width: 100px;
    font-size: 13px;
}

.ve9{
    border-style: solid;
    border-width: 1px;
    width: 84px;
    font-size: 13px;
}

.ve10{
    border-style: solid;
    border-width: 1px;
    width: 78px;
    font-size: 13px;
}

.ve11{
    border-style: solid;
    border-width: 1px;
    width: 83px;
    font-size: 13px;
}

.ve12{
    border-style: solid;
    border-width: 1px;
    width: 75px;
    font-size: 13px;
}

.ve13{
    border-style: solid;
    border-width: 1px;
    width: 75px;
    font-size: 13px;
}

.ve14{
    border-style: solid;
    border-width: 1px;
    width: 79px;
    font-size: 13px;
}

.ve15{
    border-style: solid;
    border-width: 1px;
    width: 80px;
    font-size: 13px;
}

.ve16{
    border-style: solid;
    border-width: 1px;
    width: 100px;
    font-size: 13px;
}

.cli1{
    border-style: solid;
    border-width: 1px;
    width: 92px;
    font-size: 13px;
}

.cli2{
    border-style: solid;
    border-width: 1px;
    width: 85px;
    font-size: 13px;
}

.cli3{
    border-style: solid;
    border-width: 1px;
    width: 335px;
    font-size: 13px;
}

.cli4{
    border-style: solid;
    border-width: 1px;
    width: 85px;
    font-size: 13px;
}

.cli5{
    border-style: solid;
    border-width: 1px;
    width: 82px;
    font-size: 13px;
}

.cli6{
    border-style: solid;
    border-width: 1px;
    width: 82px;
    font-size: 13px;
}

.cli7{
    border-style: solid;
    border-width: 1px;
    width: 83px;
    font-size: 13px;
}

.cli8{
    border-style: solid;
    border-width: 1px;
    width: 89px;
    font-size: 13px;
}

.cli9{
    border-style: solid;
    border-width: 1px;
    width: 85px;
    font-size: 13px;
}

.cli10{
    border-style: solid;
    border-width: 1px;
    width: 85px;
    font-size: 13px;
}

.cli11{
    border-style: solid;
    border-width: 1px;
    width: 83px;
    font-size: 13px;
}

.cli12{
    border-style: solid;
    border-width: 1px;
    width: 85px;
    font-size: 13px;
}

.cli13{
    border-style: solid;
    border-width: 1px;
    width: 85px;
    font-size: 13px;
}

.cli14{
    border-style: solid;
    border-width: 1px;
    width: 97px;
    font-size: 13px;
}

.pg1{
    border-style: solid;
    border-width: 1px;
    width: 65px;
    font-size: 13px;
}

.pg2{
    border-style: solid;
    border-width: 1px;
    width: 80px;
    font-size: 13px;
}

.pg3{
    border-style: solid;
    border-width: 1px;
    width: 75px;
    font-size: 13px;
}

.pg4{
    border-style: solid;
    border-width: 1px;
    width: 95px;
    font-size: 13px;
}

.pg5{
    border-style: solid;
    border-width: 1px;
    width: 100px;
    font-size: 13px;
}

.pg6{
    border-style: solid;
    border-width: 1px;
    width: 75px;
    font-size: 13px;
}

.pg7{
    border-style: solid;
    border-width: 1px;
    width: 75px;
    font-size: 13px;
}

.pg8{
    border-style: solid;
    border-width: 1px;
    width: 73px;
    font-size: 13px;
}

.pg9{
    border-style: solid;
    border-width: 1px;
    width: 77px;
    font-size: 13px;
}

.pg10{
    border-style: solid;
    border-width: 1px;
    width: 82px;
    font-size: 13px;
}

.pg11{
    border-style: solid;
    border-width: 1px;
    width: 80px;
    font-size: 13px;
}

.pg12{
    border-style: solid;
    border-width: 1px;
    width: 63px;
    font-size: 13px;
}

.pg13{
    border-style: solid;
    border-width: 1px;
    width: 90px;
    font-size: 13px;
}

.pg14{
    border-style: solid;
    border-width: 1px;
    width: 85px;
    font-size: 13px;
}

.pg15{
    border-style: solid;
    border-width: 1px;
    width: 73px;
    font-size: 13px;
}

.pg16{
    border-style: solid;
    border-width: 1px;
    width: 83px;
    font-size: 13px;
}

.pg17{
    border-style: solid;
    border-width: 1px;
    width: 97px;
    font-size: 13px;
}

.pg18{
    border-style: solid;
    border-width: 1px;
    width: 77px;
    font-size: 13px;
}

.pro1{
    border-style: solid;
    border-width: 1px;
    width: 100px;
    font-size: 13px;
}

.pro2{
    border-style: solid;
    border-width: 1px;
    width: 105px;
    font-size: 13px;
}

.pro3{
    border-style: solid;
    border-width: 1px;
    width: 255px;
    font-size: 13px;
}

.pro4{
    border-style: solid;
    border-width: 1px;
    width: 93px;
    font-size: 13px;
}

.pro5{
    border-style: solid;
    border-width: 1px;
    width: 93px;
    font-size: 13px;
}

.pro6{
    border-style: solid;
    border-width: 1px;
    width: 103px;
    font-size: 13px;
}

.pro7{
    border-style: solid;
    border-width: 1px;
    width: 110px;
    font-size: 13px;
}

.pro8{
    border-style: solid;
    border-width: 1px;
    width: 102px;
    font-size: 13px;
}

.pro9{
    border-style: solid;
    border-width: 1px;
    width: 95px;
    font-size: 13px;
}

.pro10{
    border-style: solid;
    border-width: 1px;
    width: 95px;
    font-size: 13px;
}

.pro11{
    border-style: solid;
    border-width: 1px;
    width: 98px;
    font-size: 13px;
}

.pro12{
    border-style: solid;
    border-width: 1px;
    width: 103px;
    font-size: 13px;
}

.pro13{
    border-style: solid;
    border-width: 1px;
    width: 105px;
    font-size: 13px;
}

.gru1{
    border-style: solid;
    border-width: 1px;
    width: 103px;
    font-size: 13px;
}

.gru2{
    border-style: solid;
    border-width: 1px;
    width: 98px;
    font-size: 13px;
}

.gru3{
    border-style: solid;
    border-width: 1px;
    width: 255px;
    font-size: 13px;
}

.gru4{
    border-style: solid;
    border-width: 1px;
    width: 95px;
    font-size: 13px;
}

.gru5{
    border-style: solid;
    border-width: 1px;
    width: 97px;
    font-size: 13px;
}

.gru6{
    border-style: solid;
    border-width: 1px;
    width: 103px;
    font-size: 13px;
}

.gru7{
    border-style: solid;
    border-width: 1px;
    width: 105px;
    font-size: 13px;
}

.gru8{
    border-style: solid;
    border-width: 1px;
    width: 97px;
    font-size: 13px;
}

.gru9{
    border-style: solid;
    border-width: 1px;
    width: 95px;
    font-size: 13px;
}

.gru10{
    border-style: solid;
    border-width: 1px;
    width: 98px;
    font-size: 13px;
}

.gru11{
    border-style: solid;
    border-width: 1px;
    width: 100px;
    font-size: 13px;
}

.gru12{
    border-style: solid;
    border-width: 1px;
    width: 105px;
    font-size: 13px;
}

.gru13{
    border-style: solid;
    border-width: 1px;
    width: 105px;
    font-size: 13px;
}

.for1{
    border-style: solid;
    border-width: 1px;
    width: 102px;
    font-size: 13px;
}

.for2{
    border-style: solid;
    border-width: 1px;
    width: 107px;
    font-size: 13px;
}

.for3{
    border-style: solid;
    border-width: 1px;
    width: 260px;
    font-size: 13px;
}

.for4{
    border-style: solid;
    border-width: 1px;
    width: 94px;
    font-size: 13px;
}

.for5{
    border-style: solid;
    border-width: 1px;
    width: 94px;
    font-size: 13px;
}

.for6{
    border-style: solid;
    border-width: 1px;
    width: 103px;
    font-size: 13px;
}

.for7{
    border-style: solid;
    border-width: 1px;
    width: 104px;
    font-size: 13px;
}

.for8{
    border-style: solid;
    border-width: 1px;
    width: 95px;
    font-size: 13px;
}

.for9{
    border-style: solid;
    border-width: 1px;
    width: 95px;
    font-size: 13px;
}

.for10{
    border-style: solid;
    border-width: 1px;
    width: 96px;
    font-size: 13px;
}

.for11{
    border-style: solid;
    border-width: 1px;
    width: 100px;
    font-size: 13px;
}

.for12{
    border-style: solid;
    border-width: 1px;
    width: 102px;
    font-size: 13px;
}

.for13{
    border-style: solid;
    border-width: 1px;
    width: 105px;
    font-size: 13px;
}

.search-vendedor{
    width: 1482px;
    height: 25px;
}

.search-cliente{
    width: 1482px;
    height: 25px;
}

.search-produto{
    width: 1482px;
    height: 25px;
}

.search-grupo{
    width: 1482px;
    height: 25px;
}


